// Global Variables
$metaColor: gray;
$whiteColor: white;
$background1: #273c5f;
$btnBackground: #30caa0;
$sectionBackground: #239375;

body {
  margin: 0px;
}

.hide-bg {
  display: none !important;
}

// ========================
// Form Style
// ========================
input,
select,
textarea {
  font-size: 14px !important;
  padding: 10px 15px !important;
}

.btn {
  background-color: $btnBackground !important;
  border-color: $btnBackground !important;
  padding: 10px 15px !important;
  font-size: 14px !important;
}

// ========================
// Topbar
// ========================
.topBar {
  padding: 12px 0;
  .infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        color: $metaColor;
        font-size: 14px;
      }

      a {
        color: $metaColor;
        text-decoration: none;
      }

      ul {
        display: flex;
        list-style: none;
        gap: 5px;
        margin-bottom: 0px;
      }
    }
  }
}

// ========================
// Breadcrumbs
// ========================
.breadcrumb {
  background-color: #f7f7f7 !important;
  padding: 15px 20px !important;
  border-radius: 5px !important;
  font-size: 14px !important;

  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}

// ========================
// Page Top
// ========================
.pageTop {
  background-color: $sectionBackground;
  padding: 60px;
  color: $whiteColor;
  h1 {
    font-size: 3.5rem;
    font-weight: 300;
  }
  p {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

// ========================
// Header Styles
// ========================
header {
  background-color: $background1;
  padding: 5px 0;

  .navbar-brand {
    color: white;
    font-weight: 600;
    font-size: 24px;
  }

  .navbar-nav {
    margin-left: 20px;
    gap: 10px !important;
    .nav-link {
      color: white !important;
    }
  }

  .auth_links {
    display: flex;
    align-items: center;
    gap: 25px;

    .link {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $whiteColor;
      text-decoration: none;
    }
  }
}

// ========================
// Footer Styles
// ========================
footer {
  background-color: $background1;
  padding: 18px 0;
  p {
    font-size: 14px;
    color: $whiteColor;
  }
}

// ========================
// Search Form Section
// ========================
.search_form {
  padding: 80px;
}
.search_form_section {
  background-color: rgba(51, 51, 51, 0.8);
  padding: 3rem;
  .content {
    color: $whiteColor;
    text-align: center;
    h1 {
      font-size: 3.5rem;
      margin-bottom: 20px;
      font-weight: 300;
    }
    p {
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 2.2rem;
    }
  }

  .row {
    margin-bottom: 20px;
  }
}

// ========================
// Single Listing
// ========================
.single_listing {
  .card-body {
    padding: 30px;
  }

  .row {
    margin-bottom: 20px;

    .col-lg-6 {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .card-text,
  span {
    color: $metaColor;
  }
}

// ========================
// Bottom Infos Section
// ========================
.bottom_infos {
  background-color: $sectionBackground;
  padding: 80px;
  .col-lg-4 {
    text-align: center;
    color: $whiteColor;
    h3 {
      margin-top: 20px;
    }
  }
}
