// Global Variables
$metaColor: gray;
$whiteColor: white;
$background1: #273c5f;

body {
  margin: 0px;
}

.hide-bg {
  display: none !important;
}

// ========================
// Topbar
// ========================
.topBar {
  padding: 12px 0;
  .infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        color: $metaColor;
        font-size: 14px;
      }

      a {
        color: $metaColor;
        text-decoration: none;
      }

      ul {
        display: flex;
        list-style: none;
        gap: 5px;
        margin-bottom: 0px;
      }
    }
  }
}

// ========================
// Header Styles
// ========================
header {
  background-color: $background1;
  padding: 5px 0;

  .navbar-brand {
    color: white;
    font-weight: 600;
    font-size: 24px;
  }

  .navbar-nav {
    margin-left: 20px;
    gap: 10px !important;
    .nav-link {
      color: white !important;
    }
  }

  .auth_links {
    display: flex;
    align-items: center;
    gap: 25px;

    .link {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $whiteColor;
      text-decoration: none;
    }
  }
}

// ========================
// Footer Styles
// ========================
footer {
  background-color: $background1;
  padding: 18px 0;
  p {
    font-size: 14px;
    color: $whiteColor;
  }
}
